@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Nova+Mono&family=Staatliches&display=swap');
body {
  margin: 0;
  background-color: white;
}

p {
  margin: 0;
}

#root {
  width: 1920px;
  height: 1080px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18pt;
}

.time {
  font-family: 'Nova Mono', sans-serif;
  font-weight: bold;
}

.label {
  font-family: 'Staatliches', sans-serif;
}
