#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.time {
  font-size: 2em;
  line-height: 1em;
  text-align: right;
}

.time.suspend {
  color: rgba(0, 0, 0, 50%);
}

.time.complete {
  color: rgb(0, 65, 255);
}